
<body>
  <br><br><br>
  <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">

        <table id="dataTable" width="800px">
          <thead>
            <tr>
              <th></th>
              <th>Hour ticket</th>
              <th>Day ticket</th>
              <th>Week ticket</th>
              <th>Year ticket</th>
              <th>Discount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Regular user</td>
              <td>{{this.prices[0]}}</td>
              <td>{{this.prices[1]}}</td>
              <td>{{this.prices[2]}}</td>
              <td>{{this.prices[3]}}</td>
              <td>{{this.discounts[0]}}</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>{{this.prices[4]}}</td>
              <td>{{this.prices[5]}}</td>
              <td>{{this.prices[6]}}</td>
              <td>{{this.prices[7]}}</td>
              <td>{{this.discounts[1]}}</td>
            </tr>
            <tr>
              <td>Retired</td>
              <td>{{this.prices[8]}}</td>
              <td>{{this.prices[9]}}</td>
              <td>{{this.prices[10]}}</td>
              <td>{{this.prices[11]}}</td>
              <td>{{this.discounts[2]}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>
</div>
  </body>
