<!-- Navigation -->
<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <img class="navbar-brand js-scroll-trigger" src="../../../favicon.ico"/>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="loggedIn==null">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" *ngIf="loggedIn==null">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/pricelist" *ngIf="loggedIn==null || loggedIn=='AppUser'">Pricelist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/admin-pricelist" *ngIf="loggedIn=='Admin'">Pricelist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/buy-a-ticket" *ngIf="loggedIn==null || loggedIn=='AppUser'">Buy a ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/timetable" *ngIf="loggedIn==null || loggedIn=='AppUser'">Timetable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/admin-timetable" *ngIf="loggedIn=='Admin'">Timetable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/admin-stations" *ngIf="loggedIn=='Admin'">Stations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/admin-lines" *ngIf="loggedIn=='Admin'">Lines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/admin-map" *ngIf="loggedIn=='Admin'">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/map" *ngIf="loggedIn==null || loggedIn=='AppUser'">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/controller-ticket" *ngIf="loggedIn=='Controller'">Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/controller-user" *ngIf="loggedIn=='Controller'">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/profile" *ngIf="loggedIn!=null">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" (click)="logout()" *ngIf="loggedIn!=null">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </body>
